@media (min-width: 1024px) {   
    .nav ul {
        display: flex;  /* Horizontal layout */
    }

    .forecast-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
    }

    .forecast-card {
        padding: 10px;
        margin: 0 4px;
        flex: 1; /* allows cards to grow and fill the space */
        min-height: 80px;
        min-width: 120px; /* ensures cards don't get too narrow on larger screens */
    }
}